@model Sopheon.Web.App.Models.PanelViewModel
@using Sopheon.framework;
@using System.Linq;
<div id="@Model.Id" class="sopheon-panel left @string.Join(" ", Model.CssClasses.ToArray())" @Model.AttributeMl >
    <div class="primary-panel-nav @(Model.HideNav ? "hide" : string.Empty) sangre-scroll" data-scroll-container="#sopheon-main" data-scroll-target="#mainNav" data-scroll-duration="750">
        <ul>
            <li class="small-tile button-tile">
                   Home
            </li>
        @if (!string.IsNullOrEmpty(Model.PrimaryNavigationView))
        {
            Html.RenderPartial(Model.PrimaryNavigationView); 
        }
        </ul>

    </div>
	@RenderBody()
</div>
